{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Hi, {{ user.get_display_name }}!</h1>
    <p>You're logged in as {{ user.username }}.</p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="button">Log out</button>
    </form>
  {% else %}
    <h1>Welcome</h1>
    <div class="actions">
      <a class="button primary" href="{% url 'login' %}">Log in</a>
      <a class="button" href="{% url 'register' %}">Create an account</a>
    </div>
  {% endif %}
{% endblock %}
